{% extends "luminarias/base.html" %}

{% block sidebar_menu %}
    <a href="{% url 'dashboard_tecnico' %}">
        <span>Inicio</span>
    </a>
    <a href="{% url 'agregar_redes' %}">
        <span>Redes</span>
    </a>
    <a href="{% url 'agregar_zonas' %}">
        <span>Zonas</span>
    </a>
    <a href="{% url 'agregar_luminarias' %}">
        <span>Luminarias</span>
    </a>
     <a href="{% url 'registrar_lecturas' %}">
        <span>Registrar Lectura</span>
    </a>
{% endblock %}

{% block user_initial %}T{% endblock %}
{% block user_name %}{{ request.session.usuario_nombre|default:"Técnico" }}{% endblock %}
{% block user_role %}Operador{% endblock %}
